<app-navbar></app-navbar>
<div class="pageContent flex">
    <div class="navigationMenu flexVertical">
        <div class="navigationMenuItem flexMid" (click)="toCocktail()"><img src="/assets/cocktail2.png" class="barIcon" alt="cocktail"></div>
        <div class="navigationMenuItem flexMid" (click)="toPopup()"><img src="/assets/bar.webp" class="barIcon" alt="bar"></div>
        <div class="navigationMenuItem flexMid" (click)="toOrder()"><img src="/assets/orderIcon.png" class="barIcon" alt="order"></div>
    </div>
    <div class="pageView">
        <div>
            <h2 class="pageTitleBlock flexCenter">ORDERS</h2>
        </div>
        <div class="cocktailListBlock">
            <div class="cocktailListBlockHeader flexBetween">
                <div class="flexCenter">
                    <p>Id</p>
                </div>
                <div class="flexCenter">
                    <p>Bar Id</p>
                </div>
                <div class="flexCenter">
                    <p>Gebruiker Id</p>
                </div>
                <div class="flexCenter">
                    <p>Tafel Id</p>
                </div>
                <div class="flexCenter">
                    <p>Item Ids</p>
                </div>
                <div class="flexCenter">
                    <p>Totaal</p>
                </div>
            </div>
        </div>

    </div>
    

    
</div>
